
<nav ngbNav #nav="ngbNav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a [routerLink]="['/']" class="navbar-brand order-md-0">
        <img
        class="d-inline-block align-top"
        height="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        Nils me-sida
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
       &#9776;
     </button>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse w-100 order-md-2" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li ngbNavItem><a [routerLink]="['/auth/login']" class="nav-link">Login</a></li>
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Reports</a>
                <div ngbDropdownMenu>
                    <h6 class="dropdown-header">Kmom</h6>
                    <span *ngFor="let report of allReports">
                        <button ngbDropdownItem [routerLink]="['/reports/week/' + report]" [id]="['report-' + report]">{{report}}</button>
                    </span>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem [routerLink]="['/reports/add']">Add new report</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
